body { 
	color: #565A5C !important;
    background-color: #F5F5F5 !important;
	font-size:16px;
	line-height: 24px;
	font-family: Ubuntu, cursive !important;
}

h1,h2,h3,h4,h5,h6 {
	color:#565A5C;
}

a {
	color:#2180DD;
}	
/* Spacers */
.spacer-container, .container-spacer {
	height:100px;
}
.row-spacer {
	height:24px;
}
.templates {
	display: none;
}
.noshow {
	display:none;
}

/* Header */
.header {
	background:#FFF;
	position:fixed;
	top:0px;
	width:100%;
	left:0px;
	border-bottom:1px solid #E5E5E4;
	z-index:9999;
	height:100px;
}
.header-spacer {
	height:60px;
}
.header-logo {
	/*float:left;*/
	height: 54px;
}
.header-logo a {
	display: block;
	height: 54px;
	padding-top:16px;
}
.header-logo img {
	display: block;
}
.header-logo-mobile {
	float:none;
	height: 54px;
	padding-left: 50px; 
	text-align: center;    
	width: 100%;
	max-width: none;
}
.header-logo-mobile a {
	display: block;
	height: 54px;
	padding-top:10px;
}
.header-logo-mobile img {
	display: block;
}
#header {
	background:#ffffff;
	position:fixed;
	top:0px;
	width:100%;
	left:0px;
	z-index:99;
	height:100px;
}
#header-spacer {
	height:60px;
}
#header-logo img {
	margin-top:28px;
}
/* Header Navigation */

.header-navigation {
	text-align: center;
}
.header-navigation ul {
	list-style-type: none;
	margin:0px auto;
	display: inline-block;
}

.header-navigation ul li {
	display: inline-block;
	margin:0px 5px;
}

.header-navigation ul li a {
	height:60px;
	display: block;
	margin-right: 40px;
	color:#424242;
	line-height: 60px;
	font-size:14px;
	font-weight: 400;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1)
	padding:0px 4px;
}
.header-navigation ul li a:hover {
	border-bottom:2px solid #0519ff;
	color: #0519ff;
	text-decoration: none;
}
.header-navigation li .active  {
	border-bottom:2px solid #0519ff;
	color: #0519ff;
	text-decoration: none;
}
.header-user-guest {
	list-style-type: none;
	font-weight: 400;
	margin-top:10px;
}
.header-user-guest li {
	display:inline-block;
	margin:0px 10px;
	font-size:13px;
}
.header-user-guest li a:hover {
	text-decoration: none;
}
.header-user-guest li .header-user-signup {
	text-align: center;
	color:#ffffff;
	width: 150px;
	background-color: #0519ff;
	line-height: 36px;
	border-radius: 25px;
	padding:0px 15px;
	display: block;
}
.header-mobile-menu {
	display: none;
}
/* Header: Extras */
.header-mobile-menu {
	display: none;
	position: fixed;
	top:60px;
	width:100%;
	left:0px;
}
.header-mobile-menu .menu-mobile {
	list-style-type: none;
	background-color: #fff;
	border-bottom:2px solid #0519ff;
	padding:15px;
	border-left:1px solid #EEE;
	border-right:1px solid #EEE;
	-webkit-box-shadow: 2px 2px 4px 2px rgba(189,189,189,0.4);
	-moz-box-shadow: 2px 2px 4px 2px rgba(189,189,189,0.4);
	box-shadow: 2px 2px 4px 2px rgba(189,189,189,0.4);
}
.header-mobile-menu .menu-mobile li {
	border-bottom:1px solid #EEEEEE;
	padding:0px 15px;
}
.header-mobile-menu .menu-mobile li a {
	display: block;
	line-height: 48px;
	color:#0519ff;
	font-size:16px;
}
.header-mobile-menu .menu-mobile li a:hover {
	text-decoration: none;
}
.header-mobile-menu .menu-mobile li:last-child {
	border-bottom: 0px;
}
/* Header Mobile */
.header-mobile {
	padding-top:10px;
}
.header-mobile ul {
	list-style-type: none;
	margin-top:12px;
}
.header-mobile ul li {
	display: inline-block;
	margin:0px 5px;
}
.header-mobile-user {
	width: 70px;
	height: 35px;
	border-radius: 25px;
	background-color: #0519ff;
	background-position: center center;
	background-repeat: no-repeat;
	background-image:url('default/icon_shopping.png');
	display: block;
	float: right;	
}
.header-mobile-navigation {
	display: block;
	width:36px;
	height:36px;
	padding-top:10px;
}
.header-mobile-navigation .navigation-bar {
	display:block;
	height:4px;
	margin-bottom: 3px;
	background-color: #000000;
	width:24px;
	margin-left:auto;
	margin-right:auto;
}

.subheader {
	font-size:18px;
	font-weight: normal;
	line-height:36px;
	margin-bottom:24px;
}

@media (max-width: 768px) {
	.subheader {
		text-align:center;
		margin-bottom:12px;
	}
}

.heading h1, .heading h2, .heading h3 {
	margin-left:16px;
}